/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/*.log
/.env
/*.DS_Store
/.idea
/*.swp
/*.swo
/tags
/.tags
rspec_results
.ruby-version
.ruby-gemset
/.rvmrc
/.rspec
